.container h1 {
  padding: 50px;
  text-align: center;
}
.tip-box h1 {
  padding: 0;
}
.tip-box {
  background-color: #f8f9fa;
  border-left: 5px solid #007bff;
  padding: 15px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.tip-box h3 {
  color: #007bff;
  margin-bottom: 20px;
}